footer
  .container
    .pre-click
      p &copy Copyright 2016 - 2017 Oldenburg Schwimmt
      button.hider Impressum
    .impressum-hide.hide
      ul
        li Oldenburger Schwimmverein von 1902 e.V.
        ul
          li Zypessenweg 16
          li 26133 Oldenburg
        li Ansprechpartner: Bernd Leutbecher, Wasserwacht
          ul
            li Telefon: 01520 2795147
        li OSV-Telefon: +49 441 6835735
        li Email: <a href="mailto:kontakt@oldenburg-schwimmt.de">kontakt@oldenburg-schwimmt.de</a>
        li WebMaster: <a href="mailto:kontakt@maltsbier.me">kontakt@maltsbier.me</a>
//- div(style="height:1px;background-color:#172A3A")
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="js/custom.js")
script(src="js/ga.js")
