meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Oldenburg Schwimmt
meta(name="theme-color" content="#172A3A")

link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,600|Quicksand" rel="stylesheet" type="text/css")

link(rel="stylesheet" href="css/style.min.css?a")
