//output: 404.html
doctype html
html
  head
    include includes/head
  body
    .content(style="display:flex; flex-direction:column;justify-content:space-between;height:100vh;")
      .container
      .container
        h1 404: Seite nicht gefunden
        a(href="https://oldenburg-schwimmt.de").button.u-full-width Zur Seite zurückkehren
      .container
        include includes/footer
