//output: ✌️.html
html
  head
    include includes/head
  body(style="display:flex;justify-content:center;align-items:center;")
    h1(style="font-size: 200%;z-index:10000;position:absolute;color:white;text-shadow: 0px 0px 10px #2b2b2b") ✌️Easteregg gefunden!
    video(src="media/cute2.mp4" autoplay loop style="position:absolute;max-width:90%;max-height:90%")
    
