//output: haftungsausschluss.html
doctype html
html
  head
    include includes/head
  body
    .content(style="display:flex; flex-direction:column;justify-content:space-between;min-height:100vh;")
      .container
        h1 Haftungsausschluss
        p Mit der Anmeldung bestätigt der Teilnehmer, dass er sich gesundheitlich und konditionell in der Lage fühlt, an diesem Langstreckenschwimmen teilzunehmen. Die Wettkampftauglichkeit ist Voraussetzung!!! Der Start erfolgt auf eigenes Risiko.
        p Außerdem entbindet der Teilnehmer mit seiner Anmeldung und Zahlung des Startgeldes den Veranstalter von jeglicher Haftung bezüglich Personen und Sachschäden an Eigentum und Ausrüstung. Einmal gezahlte Beiträge werden nicht rückerstattet – Ausnahme nachgewiesene Krankheit/Todesfall. Sollten durch die Witterungsbedingungen die Sicherheit der Schwimmer nicht mehr gewährleistet sein, behält sich der Veranstalter vor, die Stunden zu kürzen oder den Wettkampf gegebenenfalls abzubrechen. Die Starter sind mit der Aufnahme personengebundener Daten für die Zeitnahme, Starter- und Ergebnislisten, aber auch mit der Veröffentlichung der im Zusammenhang mit dem 24-Stunden-Schwimmen gemachten Fotos (Webseite), Zeitungsartikeln sowie Radio- und Filmaufnahmen einverstanden.  
        p Eltern erkennen mit Anmeldung und Zahlung die Einverständniserklärung an (siehe Haftungsausschluss).
      
      include includes/footer
